[submodule "server/libs/drogon"]
	path = server/libs/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "client/libs/jsoncpp"]
	path = client/libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git